@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Kanit&family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
body {
margin: 0 auto;
background-color: #ddd;
font-family: Merriweather, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
scroll-behavior: smooth;
}

.root {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
.header {
  height: 80px;
  background-color: #000/*#282c34*/;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#logo{
  height: 50px;
  width: auto;
}

.header.div{
  color: white;
}

#autofill, #clear {
  font-size: 12pt;
  background-color: #fff;
  border-radius: 18px;
  padding: 7px;
}
  
.line {
  background-image: linear-gradient(320deg, #007cff, #33c0f7);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5px;
}

.input-data{
  font-size: 14pt;
  font-family: Dosis, sans-serif;
  width: 18vw;
}

.content {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.insertdb{
  padding: 20px 2vw;
  width: 30vw;
}

.db{
  text-align: center;
  font-size: 15pt;
}

.form.fieldset > label, input {
  margin: 10px;
}

#list-tab01, #list-tab02{
  border: 1px solid #fff;
  color: #009dff;
  padding: 5px;
}

#result {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

#table {
  border: 8px solid;
  border-image: linear-gradient(320deg, #007cff, #33c0f7) 1;
}

.resTable{
  table-layout: auto;
  max-width: 95vw;
  border: none;
  border-collapse: collapse;
  font-size: 12.5pt;
  background-color: #eee;
}

.tableHead{
  border: 1px solid #000;
  padding: 2px 5px;
  font-weight: 900;
}

.red{
  color: rgb(145, 0, 0)
}

.orange{
  color: rgb(235, 94, 0)
}

.green{
  color: rgb(0, 104, 0)
}


.par {
  text-align: left;
}


.t_line:hover{
  background-color: #aaa;
}

td {
  border: 1px solid #666;
  text-align: right;
  padding: 3px 7px;
}

.analyzeBut {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao{
  font-size: 14pt;
  border-radius: 20px;
  background-image: linear-gradient(320deg, #007cff, #33c0f7);
  padding: 7px;
  color: #FFF;
  margin: 5px 0;
}


#footer{
  font-size: 12pt;
  color: #222;
  background-color: #888;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
  margin: 0;
  padding: 15px 0;
}

#footer > p{
  margin: 0;
} 

/* Código para a tooltip */
.tooltip {
  display:inline-block;
  position:relative;
  text-align:left;
  color:#FFF;
  font-size: 35pt;
}

.tooltip .bottom {
  min-width:200px; 
  top:40px;
  left:50%;
  transform:translate(-50%, 0);
  padding:10px 20px;
  color:#000000;
  background-color:#cacaca;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0, 0, 0, 0.5);
  visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .bottom {
  visibility:visible; opacity:1;
}

.tooltip .bottom i {
  position:absolute;
  bottom:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltip .bottom i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:50%;
  transform:translate(-50%,50%) rotate(45deg);
  background-color:#cacaca;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}